<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cdap_nutritiontracking">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/smk_logo"
        android:label="SMKitchenApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InventoryReportActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
><activity
            android:name=".CameraViewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity><
        -->
        <activity
            android:name=".FoodDiaryViewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".OverallNutritionActivity"
            android:parentActivityName=".FoodDiaryViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodDiaryViewActivity" />
        </activity>
        <activity
            android:name=".CameraViewActivity"
            android:parentActivityName=".FoodDiaryViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodDiaryViewActivity" />
        </activity>
        <activity
            android:name=".NutrientAnalysisActivity"
            android:parentActivityName=".FoodDiaryViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodDiaryViewActivity" />
        </activity>
        <activity
            android:name=".NutrientViewActivity"
            android:parentActivityName=".CameraViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CameraViewActivity" />
        </activity>
        <activity
            android:name=".InventoryMenuActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".KitchenInventory"
            android:parentActivityName=".InventoryMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InventoryMenuActivity" />
        </activity>
        <activity
            android:name=".ItemDatesActivity"
            android:parentActivityName=".KitchenInventory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KitchenInventory" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>